{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block monTitre %}Bienvenue sur notre site de vente de téléphone{% endblock %}
{% block body %}
<div class="row no-gutters align-items-center">
<img src="{{asset('acs.png')}}" class="img-fluid">
</div>
{% endblock %}
