{% extends 'base.html.twig' %}

{% block title %}Liste des commandes{% endblock %}

{% block monTitre %}Liste des commandes{% endblock %}

{% block body %}


{% for commande in commandes %}

<table class="table">
    <thead>
        <tr>
            <th>Numéro de commande</th>
            <th>Date</th>
            <th>Détail de la commande</th>
        </tr>
    </thead>

    <tbody>

        <tr>
            <td>{{commande.numero_commande}}</td>
            <td>{{commande.date |date('d-m-Y H:i:s') }}</td>
            <td>
                <a href="{{path('commande_client', {'id' : commande.id })}}" class="btn btn-primary btn-sm">
                    <i class="fas fa-search"></i>
            </td>
        </tr>
    </tbody>
</table>

    
{% endfor %}



{% endblock %}